
/*--------------------------------------------Colors*/

body {
    background-color: #84F0DF;
}

/*--------------------------------------------Special paddings/margins/text*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*--------------------------------------------Heading*/

/*--------------------------------------------Skills*/

.progress-section {
    margin: 50px 30px;
}

/*--------------------------------------------Work History*/

.history-heading {
    color: #000000;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000000;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #000000;
}

.history-items {
    margin-bottom: 30px;
}

/*--------------------------------------------Contact Form*/

/*--------------------------------------------Media Queries*/

@media(min-width: 1025px) {
    .about-me-text {
        padding-right: 150px;
    }
}

/*--------------------------------------------Footer*/

footer {
    background-color: #84F0DF;
    margin: 0;
}

footer a:link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    position: relative;
    padding-bottom: 7px;
  
}

footer a:hover {
    color: #808080;
}

.social-links {
    max-width: 100%;
    height: auto;
}

.social-links li a i {
    font-size: 30px;
    color: #000000;
    padding: 30px 20px 0px 10px;

}

.social-links a i:hover {
    color: #808080;
}

#footer-details {
    padding: 10px;
}
