/*--------------------------------------------Colors*/

div {
    background-color: #84F0DF;
}




/*--------------------------------------------Footer*/

footer {
    background-color: #84F0DF;
    min-height: none;
    margin: 0;
}

footer a:link {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
    position: relative;
    padding-bottom: 7px;
  
}

footer a:hover {
    color: hotpink;
}

.social-links {
    max-width: 100%;
    height: auto;
}

.social-links li a i {
    font-size: 30px;
    color: #808080;
    padding: 30px 20px 0px 10px;

}

.social-links a i:hover {
    color: hotpink;
}

#footer-details {
    padding: 10px;
}
